@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&family=Montserrat:wght@500;700&display=swap");

$primaryColor: hsl(225, 50%, 48%);
$secondaryColor: hsl(180, 17%, 95%);
$colorOne: hsl(15, 74%, 70%);
$colorTwo: hsl(68, 85%, 35%);
$hoverColor: hsl(225, 56%, 59%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 12%);
$textColor: hsl(240, 1%, 48%);
$borderColor: hsl(0, 0%, 83%);
$whiteColorDim: hsl(0, 0%, 93%);
$grayBg: hsl(0, 0%, 96%);
$grayText: rgb(145, 145, 145);
$inputColor: hsl(330, 12%, 97%);
$boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$transition: 0.4s ease;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background: $whiteColor;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: $primaryColor;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: $whiteColor;

  a {
    color: $whiteColor;
    font-weight: 500;
  }

  &:hover {
    background: $hoverColor;
  }

}

.btnBack {
  background: none;
  padding: 0.7rem 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $primaryColor;
  }
}

.bg1 {
  background: $colorOne;
}

.noBg {
  background: none;
  color: $blackColor;

  &:hover {
    color: $primaryColor;
    background: none;
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: $grayText;
  outline: none;
  border: none;
  border-bottom: 2px solid $grayText;
}

p {
  font-size: 13px;
  color: $grayText;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: $blackColor;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: $blackColor;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;


  .modalContent {
    padding-block: 2rem;
    text-align: center;
    width: 20%;
    background-color: #fefefe;
    margin: 12% auto; /* 15% from the top and centered */
    border: 1px solid $secondaryColor;
    box-shadow: $boxShadow;
    border-radius: 2rem;

    .message {
      padding-inline: 1rem;
      padding-bottom: 1rem;
      color: $blackColor;
    }
  }
}


// navbar
.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .navBarOne,
  .navBarTwo {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navBarOne {
    background: $secondaryColor;

    .icon:hover {
      color: $primaryColor;
    }

    .atb {
      gap: 1rem;

      span {
        color: $blackColor;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: $primaryColor;
          font-size: 700;
        }
      }
    }
  }

  .navBarTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: 0.3s ease-in-out;

    @media screen and (max-width: 768px) {
      .navBarMenu {
        position: absolute;
        background: $secondaryColor;
        padding: 1.5rem;
        border-radius: 10px;
        top: 5rem;
        right: -50%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border: 2px solid $whiteColor;
        transition: 0.4s ease-in-out;

        .menu {
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;

          .listItem {
            padding: 0.5rem 0;
            cursor: pointer;
            color: $blackColor;

            &:hover {
              color: $primaryColor;
              font-weight: 700;
            }
          }
        }

        .btnOne {
          display: block;
          justify-content: center;
          margin: auto;
          margin-top: 1rem;
        }
      }

      .btnTwo {
        display: none;
      }
    }

    .showNavBar {
      right: 50%;
      transition: 0.5s ease-in-out;
    }
  }
  .navbar_With_Bg {
    background: $secondaryColor;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .btnBg {
    background: $secondaryColor;
  }
}

// home
.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .mainText {
    color: $blackColor;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
  }

  .homeImages {
    width: 80%;
    margin: 3rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    .videoDiv {
      width: 100%;

      .video {
        border-radius: 10rem;
      }
    }

    .plane {
      position: absolute;
      width: 100%;
      top: -4%;
    }
  }
}

// Search
.search {
  .sectionContainer {
    width: 100%;
    padding: 1.5rem;
    border: 2px solid $grayBg;
    border-radius: 16px;
    row-gap: 2rem;

    .btns {
      background: $secondaryColor;
      padding: 0.5rem;
      border-radius: 1rem;
      flex-direction: column;
      margin: auto;
      width: 100%;

      .singleBtn {
        padding: 0.8rem 1.5rem;
        font-size: 13px;
        border-radius: 3rem;
        width: 80%;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: $primaryColor;
          color: $whiteColor;
          font-weight: 500;
          transition: 0.4s ease;
        }
      }

      .active {
        background: $primaryColor;
        color: $whiteColor;
        font-weight: 500;
      }
    }

    .searchInputs {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1.5rem;
      cursor: pointer;

      .singleInput {
        .iconDiv {
          padding: 16px 10px;
          border-radius: 3rem;
          background: $secondaryColor;
          margin-right: 1rem;

          .icon {
            color: $blackColor;
            opacity: 0.7;
          }
        }

        .texts {
          h4 {
            padding-top: 0;
            padding-bottom: 0.7rem;
            color: $blackColor;
            font-weight: 700;
          }

          input {
            width: 95%;
            border: none;
            outline: none;
            background: transparent;
            color: $blackColor;
            font-size: 12px;

            &::placeholder {
              color: $grayText;
              opacity: 0.5s;
            }
          }
        }
      }
      .btnBlock {
        justify-content: center;
      }
    }
  }
}

//flights
.flights {
  .flightsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding-bottom: 3rem;

    .flightsPage {
      .pageButton {
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .singleFlight {
      padding: 1.5rem;
      border-radius: 1rem;
      background: $whiteColor;
      box-shadow: $boxShadow;
      cursor: pointer;
      display: grid;
      grid-template-columns: 13fr 4fr;
      gap: 1rem;
      align-items: center;
      text-align: center;

      &:hover {
          transform: translateY(-5px);
          box-shadow: 0 15px 20px rgba(0,0,0,.2);
      }
    }

    .noFlight {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;

      h3 {
        color: lightgray;
      }
    }
  }
}

.flightDetails {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  gap: 1rem;
  text-align: center;

  .flightAirportInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    .icon {
      color: $primaryColor;
    }
    
    h6 {
      font-size: 11px;
      padding: 0;
      font-weight: 400;
      color: $textColor;
    }
  }
  .middleList {
    .flightLogo {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: space-around;
    }
    .flightDuration {
      padding-top: 0.5rem;
      align-items: center;
    }
  }
}

.price {
  color: $primaryColor;
  font-size: 18px;
  font-weight: 700;
}

//FlightDetails
.flightDetail {
  padding-inline: 4rem;
  padding-top: 7rem;
  align-items: center;
  justify-content: center;

  .flightContainer {
    text-align: center;
    display: grid;
    grid-template-columns: 24fr 10fr;
    width: 100%;
    
    .flightInfo {
      border: 3px solid $secondaryColor;
      border-right-width: 0;
      border-radius: 2rem 0 0 2rem;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      
      .back {
        padding-left: 3rem;
        padding-top: 0.5rem;
        display: flex;
        justify-items: left;
      }

      .infoContainer {
        text-align: left;
        padding-inline: 4rem;
        padding-top: 0.7rem;
        
        h2 {
          color: $blackColor;
          font-size: 1.5rem;
        }

        h4 {
          color: $blackColor;
          font-size: 1.1rem;
        }

        .airlineInfo {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center; 
        }  

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    

    .flightImage {
      border: 3px solid $secondaryColor;
      border-left-width: 0;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      border-radius: 0 2rem 2rem 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 2rem 2rem 0;
      }
    }
  }
}

//Reservations
.reservations {
  justify-content: center;
  .reservationsContainer {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding-bottom: 3rem;
    width: 80%;


    .singleReservation {
      padding: 1.5rem;
      border-radius: 1rem;
      background: $whiteColor;
      box-shadow: $boxShadow;
      display: grid;
      grid-template-columns: 3fr 1fr repeat(3, 3fr);
      gap: 1rem;
      align-items: center;
      text-align: center;

      .requestTitle {
        font-weight: 700;
        padding-bottom: 1rem;
      }

      &:hover {
          transform: translateY(-5px);
          box-shadow: 0 15px 20px rgba(0,0,0,.2);
      }
    }
  }
}

//Profile
.profile {
  .profileContainer {
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: row;

    .profileImage {
      width: 100%;
      height: 100%;
      max-height: 50px;
      max-width: 50px;
      border-radius: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


// Adding media queries
@media screen and (min-width: 480px) {
  // Home
  .home {
    padding-top: 8rem;
  }
  // Search
  .search {
    .sectionContainer {
      .searchInputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 570px) {
  // Home
  .home {
    .mainText {
      width: 80%;
    }
    .homeImages {
      .video {
        border-radius: 15rem;
      }
      .plane {
        position: absolute;
        width: 95%;
        top: -8%;
      }
    }
  }
  // Search
  .search {
    .sectionContainer {
      .btns {
        border-radius: 3rem;
        flex-direction: row;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  // Home
  .home {
    .mainText {
      width: 80%;
    }
    .homeImages {
      .videoDiv {
        width: 80%;
        .video {
          height: 100%;
          width: 100%;
          border-radius: 15rem;
        }
      }
      .plane {
        width: 95%;
        top: -8%;
      }
    }
  }
  // Search
  .search {
    .sectionContainer {
      .btns {
        border-radius: 3rem;
        flex-direction: row;
      }
      .searchInputs {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // Navbar
  .navBar {
    align-items: center;
    .navBarOne {
      .none {
        display: flex;
        gap: 1.5rem;

        li {
          font-size: 13px;
          gap: 0.5rem;
          color: $textColor;
          &:hover {
            color: $primaryColor;
            text-decoration: underline;
          }
        }
      }
    }
    .navBarTwo {
      justify-content: space-between;
      align-items: center;
      .logoDiv {
        .logo {
          max-width: 20%;
        }
      }
      .menu {
        flex-direction: row;
        gap: 0.5rem;
        .listItem {
          padding: 0 0.5rem;
          font-size: 14px;
          cursor: pointer;
          color: $textColor;
          font-weight: 700;
          &:hover {
            color: $primaryColor;
            font-weight: 700;
          }
        }
      }
      .btnOne,
      .toggleIcon {
        display: none;
      }
    }
  }
  // Search
  .search {
    .sectionContainer {
      .btns {
        width: 70%;
        border-radius: 3rem;
        flex-direction: row;
      }
      .searchInputs {
        grid-template-columns: repeat(4, 1fr);
        .singleInput {
          .texts {
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .home {
    .mainText {
      width: 70%;
      padding-bottom: 1.5rem;
      font-size: 22px;
      line-height: 4rem;
    }
  }
  // Search
  .search {
    .sectionContainer {
      .searchInputs {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 3rem;
  }
  .container {
    width: 77%;
    margin: auto;
  }
  .navBar {
    .navBarOne,
    .navBarTwo {
      padding: 1.5rem 5rem;
    }
    .navbar_With_Bg {
      padding: 2rem 5rem;
    }
  }
  .home {
    .mainText {
      width: 60%;
      font-size: 25px;
      line-height: 4rem;
    }
    .homeImages {
      .videoDiv {
        width: 90%;
        height: 300px;
        .video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15rem;
        }
      }
      .plane {
        width: 100%;
        top: -10%;
      }
    }
  }
  .search {
    .sectionContainer {
      .btns {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1332px) {
  .navBar {
    .navBarTwo {
      .menu {
        gap: 1rem;
        .listItem {
          padding: 0 1.5rem;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .home {
    .homeImages {
      .plane {
        width: 90%;
        top: -30%;
      }
    }
  }
}

::selection {
  background: $primaryColor;
  color: $whiteColor;
}

::-webkit-scrollbar {
  width: 10px;
  background: $grayBg;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']{
  width: 25px;
} 

.loader-container{
  max-width:220px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-weight: 700;
}